.AddCommentForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--primary-color);
}

.input {
    flex-grow: 1;
}
