.ArticleList {
    display: flex;
    gap: 30px;
}

.TILE {
    flex-wrap: wrap;

    .card {
        display: inline-flex;
    }

    .row {
        display: flex;
        gap: 30px;
    }
}

.LIST {
    flex-flow: column nowrap;
}
