.app_blue_theme {
    --bg-color: #f4f6fb;
    --inverted-bg-color: #2156ff;
    --primary-color: #2156ff;
    --secondary-color: #00c8f5;
    --inverted-primary-color: #f4f6fb;
    --inverted-secondary-color: #2156ff;

    // Skeleton
    --skeleton-color: #5d5e60;
    --skeleton-shadow: #acadb0;

    // code
    --code-bg: #babcc0;

    // card
    --card-bg: #9d9ea1;

    // listbox
    --listbox-bg: #9d9ea1;
}
