.app_dark_theme {
    --bg-color: #39494c;
    --inverted-bg-color: #fff9ea;
    --primary-color: #fff;
    --secondary-color: #fff9ea;
    --inverted-primary-color: #173465;
    --inverted-secondary-color: #2d9665;

    // Skeleton
    --skeleton-color: #719096;
    --skeleton-shadow: #a1cbd3;

    // code
    --code-bg: #719096;

    // card
    --card-bg: #597175;

    // listbox
    --listbox-bg: #597175;
}
