body .dark {
    --bg-color: #39494c;
    --inverted-bg-color: #fff9ea;
    --primary-color: #fff;
    --secondary-color: #afadad;
    --inverted-primary-color: #173465;
    --inverted-secondary-color: #2d9665;
}
