.app.light {
  --bg-color: #fff9ea;
  --inverted-bg-color: #39494c;

  --primary-color: #173465;
  --secondary-color: #2d9665;

  --inverted-primary-color: #fff;
  --inverted-secondary-color: #afadad;
}
