.NotificationButton {
    // NotificationButton
}

.notificationsTrigger {
    color: var(--inverted-primary-color);
}

.notifications {
    min-height: 150px;
    max-height: 300px;
    min-width: 300px;
    max-width: 500px;
    overflow: auto;
}
